.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* here */
/* app */
#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header */
#header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#header h3 {
  margin: 1%;
}

#nav {
  display: flex;
  flex-direction: row;
}

/* body */
#body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* footer */
#footer {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;

  /* font */
  color: white;
  font-size: 10pt;
}

#footer-first-line {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: -2%;
}

.inner-footer-line {
  display: flex;
  padding: 0 1%;
}

#footer-second-line {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}